* {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background: linear-gradient(135deg, #0a1128, #001845);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: #ffffff;
}

.container {
    background: rgba(10, 17, 40, 0.9);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
    width: 350px;
    text-align: center;
}

h1 {
    font-size: 26px;
    margin-bottom: 25px;
    color: #dbe2ef;
    font-weight: 600;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
}

.input-group input {
    width: 100%;
    padding: 12px 15px;
    border: 2px solid #43cea2;
    border-radius: 25px;
    font-size: 14px;
    outline: none;
    transition: all 0.3s ease;
    background: rgba(255, 255, 255, 0.1);
    color: #ffffff;
}

.input-group input:focus {
    border-color: #0077b6;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #0077b6;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: background 0.3s ease;
}

button:hover {
    background-color: #023e8a;
}

.small-btn {
    width: auto;
    padding: 8px 20px;
    background-color: #4579e0;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
    transition: background 0.3s ease;
    margin-bottom: 20px;
}

.small-btn:hover {
    background-color: #0077b6;
}

.message {
    margin-top: 20px;
    font-size: 14px;
    color: #ffffff;
}

.message a {
    color: #43cea2;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
}

.message a:hover {
    text-decoration: underline;
}

.register-container {
    display: none;
}